.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .todo-wrapper {
        flex: 1;
        text-align: center;
        box-shadow: 3px 7px 10px rgba(1, 1, 1, .5);
        background-color: white;
    
        .todo-task-bar {
            margin-top: 10px;
            padding: 20px;
    
            input {
                width: 35vw;
                height: 5vh;
                border-radius: 5px;
            }
    
            .task-submit {
                background-color: #cdcdcd;
                width: 7rem;
                height: 2rem;
                border-radius: 5px;
                border: none;
                margin-left: 10px;
            }
        }
    
        .todo-list {
    
            p{
                flex: 1;
            }
    
            .todo-task {
                margin-top: 10px;
                background-color: #e8e8e8bd;
                border-radius: 5px;
                padding: 10px;
                display: flex;
                align-items: baseline;
            }
        }
    }
}
