body {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;
}

.main-container {
    width: 800px;
    margin: 0 auto;
}

.todo-container {
    background-color: rgb(249 97 96);
    text-align: center;
    max-width: 100vw;
    box-shadow: 3px 7px 10px rgba(1, 1, 1, .5);
}