.footer {
    background-color: rgb(169, 40, 40);
    font-size: 12px;
    color: white;
    height: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, .2);
    border-top: 1px solid rgb(110, 14, 14);
}